@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
	--main-color:#ff0000;
	--black:#13131a;
	--bg:#010103;
	--gradient:linear-gradient(to bottom right, #2a305f, #242a5652);
	--border: 0.1rem solid rgba(255,255,255,0.3);
	--text-shadow: 0 0 5px #468A9A,
	0 0 25px #468A9A,
	0 0 50px #468A9A,
	0 0 75px #468A9A;
	--box-shadow: 0 0 5px #468A9A,
	0 0 25px #468A9A,
	0 0 50px #468A9A,
	0 0 75px #468A9A;

}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	transition: 0.5s linear;
}

body {
	background: var(--bg);
}

section {
	padding: 1.5rem 4rem;
}

hr {
	border: 1px dashed white;
}

/*Header Section*/

.header {
	background: linear-gradient(to right, #DA4848, #DA4848, #00f7ff, #00f7ff);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 4rem;
	border-bottom: var(--border);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}





.header .logo {
	color: white;
	font-weight: bold;
	font-size: 1.5rem;
	cursor: pointer;
}

.header .logo:hover {
	
	text-shadow: var(--text-shadow);
}

.header .logo span{
	color: black;

}

.header .navbar a{
	margin: 0 1rem;
	font-size: 1rem;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.header .navbar a:hover {
	color: var(--main-color);
	border-bottom: 0.1rem solid var(--main-color);
	padding-bottom: 0.3rem;
}

.header .menu-btn {
	color: white;
	font-size: 1.5rem;
	display: none;
}

.hero-content {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('bg/bg (10).jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.hero-content .content {
	max-width: 60rem;
	
}

.hero-content .content h1 {
	text-align: center;
	color: white;
	font-size: 3.5rem;
	text-transform: uppercase;
}


.hero-content .content p {
	text-align: center;
	font-size: 1rem;
	color: whitesmoke;
	padding: 1rem 0;

}

.btn-1 {
	padding: 10px 12px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	color: white;
	background-color: orangered;
	margin-top: 40px;
	margin-left: 120px;
	font-weight: 500;

	
}

.btn-1:hover {
	background-color: transparent;
	border: none;
	box-shadow: var(--box-shadow);
}

.btn-2 {
	padding: 10px 12px;
	border-radius: 10px;
	border: 1px solid white;
	cursor: pointer;
	color: white;
	background-color: transparent;
	margin-top: 40px;
	font-weight: 500;
	margin-left: 50px;
}

.btn-2:hover {
	background-color: transparent;
	border: none;
	box-shadow: var(--box-shadow);
}

/*Feature Section*/


.features .f-title
{
	margin-bottom: 3rem;
}
.features .f-title h3 {
	font-size: 2.5rem;
	color: var(--main-color);
	font-weight: 600;
	text-align: center;
	cursor: pointer;

}

.features .f-title h3:hover {
	text-shadow: var(--text-shadow);

}

.features .f-title span {
	color: white;
	
}

.features .f-title span:hover {
	text-shadow:  var(--text-shadow);

}

.features-content{
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(300px, 1fr));
	grid-gap: 2rem;
	padding: 2.5rem;
}


}


.f-cars {
	position: relative;
	max-width: 320px;
}
.f-content {
	position: relative;
	width: 100%;
	height: auto;
	background: #ffffff;
	border-radius: 20px;
	overflow: hidden;
	transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.6s ease;
	cursor: pointer;
}
.f-content::before {
	content: '';
	position: absolute;
	top: 0;
	left: -50%;
	width: 200%;
	height: 100%;
	background: linear-gradient( 45deg, rgba(0, 255, 236, 0.1), rgba(0, 255, 236, 0.3));
	transform: skewX(-25deg);
	transition: left 0.6s ease;
	z-index: 1;
}



.Details h5 {
	margin: 15px 0;
	font-size: 20px;
	color: #333;
	transition: color 0.6s ease;
}

.Details h5:hover  {
	color: #DA4848;
}

.Details p {
	margin: 0;
	color: #666;
	font-size: 14px;
	line-height: 1.7;
}

.f-content:hover {
	transform:translateY(-10px);
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.f-content:hover::before {
	left: 100%;
}

.cars {
	padding: 20px;
	text-align: center;
	position: relative;
	z-index: 2;
	height: 65%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.f-content-image {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: transform 0.6s ease;
}



.Details button {
	text-decoration: none;
	display: inline-block;
	background: #DA4848;
	margin-top: 15px;
	padding: 10px 30px;
	color: #fff;
	border-radius: 50px;
}

.Details button:hover  {
	background: black;
}


/*About Section*/



.about .a-content h3 {
	font-size: 2.5rem;
	color: var(--main-color);
	font-weight: 600;
	text-align: center;
	cursor: pointer;

}

.about .a-content h3:hover {
	text-shadow: var(--text-shadow);

}

.about .a-content span {
	color: white;

}

.about .a-content span:hover {
	text-shadow: var(--text-shadow);

}

.about .a-content em {
	color: #FFFDCE;
	font-size: 1.5rem;
	font-weight: 600;
	display: flex;
	justify-content: center;
	padding: 2.5rem;
	text-shadow: -2px -2px 0 #48A111,
	2px -2px 0 #48A111,
	-2px  2px 0 #48A111,
	2px  2px 0 #48A111;
}

.about .a-content p {
	padding: 0.5rem;
	color: whitesmoke;
	font-size: 1.2rem;
	text-align: center;
}

.about .a-content q {
	color: #FCB53B;
	display: flex;
	justify-content: center;
	font-size: 1.2rem;
	padding: 1rem;

}

/*Service Section*/

.services .s-title:hover {
	text-shadow: var(--text-shadow);
}
.services .s-title h3{
	font-size: 2.5rem;
	color: white;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
}

.services .s-title span {
	color: var(--main-color);
}

.services .service-content{
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(200px, 1fr));
	grid-gap: 2rem;
	padding: 4rem;
}





.services .service-content .service-card {
	
	border-radius:1rem;
	overflow:hidden;
	position: relative;
	width: 100%;
	height: auto;
	background: #ffffff;
	border-radius: 20px;
	transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.6s ease;
	cursor: pointer;
}







.services .service-content .service-card:hover {
	transform:translateY(-10px);
	
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.services .service-content .service-card:hover::before {
	left: 100%;
}

.services .service-content .service-card img{
	width:100%;
	height:180px;
	object-fit:cover;
	border-radius: 10px 10px 0 0;
	transition: transform 0.6s ease;
}

.services .service-content .service-card h3{
	margin: 15px 0;
	font-size: 20px;
	color: #333;
	text-align: center;
	transition: color 0.6s ease;
}

.services .service-content .service-card h3:hover  {
	color: #DA4848;
}

.services .service-content .service-card p{
	
	margin: 0;
	color: #666;
	font-size: 14px;
	line-height: 1.7;
	text-align: center;
}

/*choose us*/


.choose .c-title:hover {
	text-shadow: var(--text-shadow);
}
.choose .c-title {
	font-size: 2.5rem;
	color: white;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
}

.choose .c-title span {
	color: var(--main-color);
}

.choose-us {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.c-us {
  border: 1px solid #555;
  padding: 20px;
  width: 300px;
  height: 150px;
  border-radius: 8px;
  background: white;
  transition: 0.3s;
}
.c-us i {
	margin-left: 90px;
	font-size: 50px;
}

.c-us p {
	margin-top: 25px;
	margin-left: 28px;
	margin-bottom: 5px;
}

.c-us:hover {
  background-color:  #468A9A;
  transform: scale(1.05);
}

/*book a test drive*/


.book-drive {
  text-align: center;
  padding: 50px 20px;
  background: rgba(0,0,0,0.7);
}

.b-title {
 font-size: 2.5rem;
	color: white;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
	margin-top: 50px;
}

.book-drive .b-title:hover {
	text-shadow: var(--text-shadow);
}

.book-drive .b-title span {
	color: var(--main-color);
}

.b-form {
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
}

.b-form input,
.b-form select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  outline: none;
}

.b-form button {
  width: 100%;
  padding: 12px;
  background: #ff3c3c;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.b-form button:hover {
  background: #e62e2e;
}


/*contact section*/



.contact .c-title h3 {
	font-size: 2.5rem;
	color: var(--main-color);
	font-weight: 600;
	text-align: center;
	cursor: pointer;
	margin-bottom: 3rem;
}

.contact .c-title span {
	color: white;

}

.contact .c-title:hover {

	text-shadow: var(--text-shadow);

}
.contact .contact-body {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.contact .contact-body .contact-us{
	
	background:#1f2a38;
	padding:2.5rem;
	width:400px;
	border-radius:12px;
	box-shadow:0 0 20px #00f7ff;
	
}




.contact .contact-body .contact-us input, textarea{

	width:100%;
	padding:12px;
	margin:15px 0;
	border:none;
	border-radius:6px;
	outline:none;
	background:#111;
	color:white;

}

.contact .contact-body .contact-us input:focus, textarea:focus{
	box-shadow:0 0 10px cyan,
	0 0 20px cyan;
}


.contact-us button {
	width: 100%;
	padding: 12px;
	border: none;
	background: #00f7ff;
	color: black;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 15px #00f7ff;
	transition: 0.3s;
}

.contact-us button:hover {
	background: #00c3cc;
	box-shadow: 0 0 25px #00f7ff;
}

footer {
	background: linear-gradient(to right, #DA4848, #DA4848, #00f7ff, #00f7ff);
	border: var(--border);
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 1.5rem;
	margin-top: 2rem;
}

footer span {
	color: black;
}






@media(max-width: 992px){

	
	.header {
		padding: 1.5rem 3rem;
	}

	.about .a-content p {
		font-size: 1rem;

	}


}

@media(max-width: 768px){

	.header {
		padding: 1.5rem 4rem;
	}

	.header .logo {
		font-size: 1.7rem;
	}

	.header .menu-btn {
		display: inline-block;
		font-size: 1.7rem;
	}

	.header .navbar {
		display: none;

	}

	.hero-content {
		background-position: left;
		justify-content: center;
		text-align: center;
	}

	.hero-content .content h1 {
		font-size: 2.5rem;
	}

	.hero-content .content p {
		font-size: 1rem;
	}

	.btn-1 {
		padding: 8px 12px;
		margin-top: 40px;
		margin-left: 15px;
		font-weight: 400;
	}

	.btn-2 {
		padding: 8px 12px;
		margin-top: 40px;
		margin-left: 25px;
		font-weight: 400;
	}



	.about .a-content p {

		font-size: 1rem;

	}


}



@media(max-width: 576px){

	.header {
		padding: 1.5rem 2rem;
	}


	.header .menu-btn {
		display: inline-block;
	}

	.header .navbar {
		display: none;

	}

	.hero-content {
		background-position: left;
		justify-content: center;
		text-align: center;
	}

	.hero-content .content h1 {
		font-size: 2.2rem;
	}

	.hero-content .content p {
		font-size: 1rem;
	}

	.btn-2 {
		margin-top: 30px;
		margin-left: 15px;

	}

	.features .f-cars {
		padding: 1rem 1rem;

	}

	.about .a-content em {

		font-size: 1rem;
		padding: 1rem;

	}

	.about .a-content p {

		font-size: 0.8rem;
		padding: 0.8rem;

	}

	.about .a-content q {
		font-size: 0.8rem;
		padding: 0.8rem;
	}

	.contact .contact-body .contact-us{

		padding:1.5rem;
		width:300px;

	}

	.choose .c-title {
		font-size: 2rem;
	}

	.b-title {
		font-size: 2rem;
	}

}


@media(max-width: 468px){

	.hero-content .content h1 {
		font-size: 2rem;
	}

	.hero-content .content p {
		font-size: 1rem;
	}

	

	.features .f-title h3 {
		font-size: 2rem;
	}
	

	.features .f-cars {
		padding: 1rem 1rem;

	}

	.features-content{

		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

		padding: 1rem;


	}


	.about .a-content h3 {
		font-size: 2rem;
	}



	

	.about .a-content p {

		font-size: 1rem;
		padding: 0.8rem;

	}

	
	.services .s-title h3{
		font-size: 2rem;
	}


	.contact .c-title h3 {
		font-size: 2rem;
	}

	.contact .contact-body .contact-us{

		padding:1.5rem;
		width:300px;

	}

	.services .service-content{

		grid-template-columns:repeat(auto-fit,minmax(250px, 1fr));

		padding: 2rem;
	}


}

@media(max-width: 410px){

	.hero-content .content h1 {
		font-size: 2rem;
	}

	.hero-content .content p {
		font-size: 1rem;
	}

	

	.features .f-title h3 {
		font-size: 2rem;
	}
	

	.features .f-cars {
		padding: 1rem 1rem;

	}

	.features-content{

		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

		padding: 1rem;


	}


	.about .a-content h3 {
		font-size: 2rem;
	}



	

	.about .a-content p {

		font-size: 1rem;
		padding: 0.8rem;

	}

	
	.services .s-title h3{
		font-size: 2rem;
	}


	.contact .c-title h3 {
		font-size: 2rem;
	}

	.contact .contact-body .contact-us{

		padding:1.5rem;
		width:300px;

	}

	.services .service-content{

		grid-template-columns:repeat(auto-fit,minmax(200px, 1fr));

		padding: 1rem;
	}

	footer {
		font-size: 0.8rem;
   }

}

